.sobre-mim{
   padding: 6rem;
}

.sobre-mim__fotografia{
 width: 30%;
 border-radius: 20rem;
 float: left;
 margin-right: 3rem;
}

.sobre-mim__titulo{
    display: inline-block;
    font-size: 4rem;
    text-align: center;
    vertical-align: center;
    margin: 3rem 0 2rem;
}

.sobre-mim__texto{
    font-size: 2rem;
    text-align: justify;
}

.mural{
    margin: 14rem 0;
}

.mural__titulo, .redes-sociais__titulo, .localizacao__titulo {
    color: black;
    font-size: 3rem;
    font-weight: 550;
    margin: 0  0 1rem 1.5rem;
    display: flex;
}

.fotos{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;
    height: 20rem;
    padding: 1rem;
}

.fotos__amostra{
    margin: 0.3rem;
}

.fotos__amostra:first-child{
    margin-left: 0;
}

.fotos__amostra:last-child{
    margin-right: 0;
}

.fotos__amostra:nth-child(1){
    background: url('../img/foto_1.jpg') center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.fotos__amostra:nth-child(2){
    background: url('../img/foto_2.jpg') center / cover no-repeat;
    grid-column: 2 / 2;
    grid-row: 1 / 1;

}.fotos__amostra:nth-child(3){
    background: url('../img/foto_3.jpg') center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.mural__ver-mais{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content:flex-end;
    margin-right: 2rem;
}

.redes-sociais__titulo, .localizacao__titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.redes-sociais{
    padding-bottom: 5rem;
}

.redes-sociais__lista{
    display: flex;
    padding: 2.5rem 4rem;
}

.redes-sociais__lista li{
    margin-right: 15rem;
    width: 940px;
}

.redes-sociais__lista li:last-child{
    margin-right: 0;
}

.redes-sociais__arroba{
    font-size: 2rem;
    margin-top: 1rem;
}

.localizacao{
    padding: 8rem 0;
}

.localizacao__mapa{
    width: 80%;
}