:root{
    font-size: 60%;
}

body{
    text-align: center;
    margin: 0 auto;
    background: rgb(49, 49, 104);
    font-family: 'Montserrat', sans-serif;
}

.cabecalho{
    width: 100%;
    background-color: #181818;
}

.cabecalho__caixa{
    width: 940px;
    position: relative;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    display: flex;

}

.cabecalho__logo{
    background: url('../img/logo-att.jpg') center left no-repeat;
    width: 50%;
    background-size: auto;
    align-items: center;
    display: flex;
    
}

.cabecalho__menu{
    position: absolute;
    right: 0;
    height: calc(100% - 5rem);
    margin: 2.5rem 0;
}

.cabecalho__menu___lista {
    display: flex;
}

.item-menu{
    margin: 0 5rem 0 0;
    font-size: 2.2rem;
}

.item-menu:last-child{
    margin: 0;
}

.item-menu a{
    color: white;
    text-decoration: none;
}

.item-menu a:hover, .selecionado{
    opacity: 40%;
    border-bottom: .3rem solid oldlace ;
}

main{
    min-height: calc(100vh - 70px);
    background: white;
    width: 940px;
    margin: 0 auto;
}

footer{
    background-color: rgb(36, 36, 36);
    align-items: center;
}

.footer-caixa{
    width: 940px;
    position: relative;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-caixa__texto{
    font-size: 1.6rem;
    color: #f5f5f5;
    width: 940px;
    display: flex;
    justify-content: center;
}
